{# templates/blog/show.html.twig #}
{% extends "base.html.twig" %}

{% block title %}{{ parent()}} | {{ article.getTitle() }}{% endblock %}

{% block body %}
<article class="container">
	<div class="row">
		<div class="col s12 m12 l8 offset-l2">
			<h2>{{ article.getTitle() }}</h2>
			<span>{{ article.getPublicationDate()|date('d/m/Y') }}</span>
			<p>
				<img src="{{ asset('upload/'~article.getPicture()) }}" class="responsive-img">
			</p>
			<span class="categories">
				{% for category in article.categories %}
				{{ category.libele }} {{ loop.last ? "" : "," }}
				{% endfor %}
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m12 l8 offset-l2">
			<p>
				{{ article.getContent() }}
			</p>
		</div>
	</div>
	<!-- zone commentaire -->
	<div class="row">
		{% include 'blog/include/comment.html.twig' %}
	</div>		
</article>
{% endblock %}