<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Blog{% endblock %}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	{% block stylesheets %}
	<!-- <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"> -->
	<link rel="stylesheet" type="text/css" href="{{ asset('css/materialize.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
	{% endblock %}
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<div class="container">
				<a href="{{ path('homepage')}}" class="brand-logo">Blog ~ sf4</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					{% if app.user %}
					<li>Bienvenue <span style="font-style: italic;">{{app.user.nameuser}}</span></li>
					{% endif %}
					<li>
						{% if not app.user %}
							<a href="{{ path('app_login') }}">Se Connecter</a>
						{% else %}

							<a href="{{ path('app_logout') }}">Se Déconnecter</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</nav>
	{% block body %}{% endblock %}
	{% block javascripts %}
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<script src="{{ asset('js/materialize.min.js') }}"></script> 
	<script type="text/javascript">
	$('select').formSelect();
	</script>
	{% endblock %}
</body>
</html>
